nav {
  height: 40px;
  background-color: #099268;
}

.cadtoolsMenu > li {
  display: inline-block;
  width: 180px;
  padding: 5px 10px;
  background: #18a57b;
  text-align: center;
  border-radius: 5px;
  position: relative;
  top: 4px;
  left: 100px;
}

.cadtoolsMenu > li:hover {
  background: rgba(29, 60, 160, 0.678);
}

.cadtoolsMenu > li ul.subMenu {
  display: none;
  position: absolute;
  top: 30px;
  left: 0px;
}

.cadtoolsMenu > li:hover ul.subMenu {
  display: block;
}

.cadtoolsMenu > li ul.subMenu > li {
  display: inline-block;
  width: 180px;
  padding: 5px 10px;
  background: #18a57b;
  text-align: center;
}

.cadtoolsMenu > li ul.subMenu > li:hover {
  background: rgba(29, 60, 160, 0.678);
}
