#top {
  width: auto;
  height: 100px;
  border: 1px solid;
  margin: auto;
  padding-left: 10%;
  padding-right: 10%;
  border-radius: 5px;
  background-image: url(top-banner.jpg);
  border-bottom: 5px solid black;
}

.cadtool-logo {
  width: 400px;
  height: 100px;
  box-sizing: border-box;
  margin: 0 auto;
  text-align: center;
}

.logo-box1 {
  width: 320px;
  height: 80px;
  text-align: center;
  font-family: "Krona One", sans-serif;
}

.box3 {
  width: 50px;
  height: 50px;
  right: 20px;
  top: 70px;
  display: inline-block;
  position: absolute;
  background-image: url(ptc-vector-logo.svg);
}

#topMenu {
  width: 65%;
  margin: 0 auto;
}

#topMenu ul li {
  list-style: none;
  color: white;
  background-color: #2d2d2d;
  display: inline-block;
  line-height: 30px;
  vertical-align: middle;
  text-align: center;
}

#topMenu .menuLink {
  text-decoration: none;
  color: white;
  display: block;
  width: 110px;
  font-size: 12px;
  font-weight: bold;
  font-family: "Trebuchet MS", Dotum, Arial;
}

#topMenu .menuLink:hover {
  color: red;
  background-color: #4d4d4d;
}

.side-doc {
  width: 20%;
  height: 100vh;
  background-image: url(side-roller.jpg);
  float: left;
}

.main-doc {
  width: 300px;
  float: left;
  margin: 50px;
  padding: 80px;
  border: 1px solid;
  border-radius: 10px;
  background-color: royalblue;
}

.styled {
  border: 0;
  line-height: 2.5;
  padding: 0 20px;
  font-size: 1rem;
  text-align: center;
  color: #fff;
  text-shadow: 1px 1px 1px #000;
  border-radius: 10px;
  background-color: rgba(220, 0, 0, 1);
  background-image: linear-gradient(
    to top left,
    rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.2) 30%,
    rgba(0, 0, 0, 0)
  );
  box-shadow: inset 2px 2px 3px rgba(255, 255, 255, 0.6),
    inset -2px -2px 3px rgba(0, 0, 0, 0.6);
}

.styled:hover {
  background-color: rgba(255, 0, 0, 1);
}

.styled:active {
  box-shadow: inset -2px -2px 3px rgba(255, 255, 255, 0.6),
    inset 2px 2px 3px rgba(0, 0, 0, 0.6);
}
